.rating-icons {
  cursor: pointer;
  display: flex;
  position: relative;
}

.rating-icon {
  display: flex;
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
}

.rating-icon-filled {
  color: #ffb400;

  &-disabled {
    color: #ffd97f;
  }
}

.rating-icon-empty {
  color: rgba(0, 0, 0, 0.26);

  &-disabled {
    color: #e5e5e5;
  }
}

.rating-icon-svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
}

