<div class="container">
  <div class="my-3">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center mb-3 p-3 text-white bg-secondary rounded shadow-sm">
          <h1 class="h6 lh-1 mb-0 text-white">New audit</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="px-3 py-3 bg-body rounded shadow-sm">
          <form [formGroup]="form" (ngSubmit)="onSave()">
            <label for="select-area" class="form-label mb-2">Select area:</label>
            <select id="select-area" class="form-select mb-4" formControlName="area">
              @if (areas(); as areas) {
                @for (area of areas; track area.id) {
                  <option [ngValue]="area.key">{{ area.value }}</option>
                }
              }
            </select>
            <ng-container formArrayName="ratings">
              @if (isQuestionsReady()) {
                @for (rating of ratings.controls; track $index; let i = $index) {
                  <div class="d-flex pt-3 border-bottom lh-1 text-muted">
                    <div class="flex-grow-1">
                      <p class="pb-3 mb-0 lh-sm">{{ questions![i].questionText }}</p>
                    </div>
                    <div>
                      <app-rating [max]="5" [formControlName]="$index"></app-rating>
                    </div>
                  </div>
                }
              } @else {
                <p>Could not load questions.</p>
              }
            </ng-container>
            <button type="submit" id="saveForm" class="btn btn-primary mt-3" [disabled]="form.invalid || isFormSaving()" [appLoadingButton]="isFormSaving()">Save</button>
          </form>
        </div>
      </div>
      <div class="col-4">
        <app-audit-action [auditId]="auditId" [(actions)]="auditActions" [isEditForm]="false" />
      </div>
    </div>
  </div>
</div>
