<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <!-- Required attribute is not necessary, but it should be retained for accessibility purposes -->
        <input type="email" class="form-control" id="username" formControlName="username"
        [ngClass]="getCurrentValidationClassesForControl('username')" [attr.aria-describedby]="getCurrentAriaValidationFeedbackForControl('username')" required>
        <ng-container *ngIf="checkIsControlInvalid('username')">
            <div *ngIf="username.errors?.['required']" [attr.id]="getIdForValidationFeedbackForRule('username', 'required')" class="invalid-feedback">
                Username is required.
            </div>
            <div *ngIf="username.errors?.['email']" [attr.id]="getIdForValidationFeedbackForRule('username', 'email')" class="invalid-feedback">
                Invalid username format. Please use a valid email address (e.g. user@example.com).
            </div>
        </ng-container>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password"
        [ngClass]="getCurrentValidationClassesForControl('password')" [attr.aria-describedby]="getCurrentAriaValidationFeedbackForControl('password')" required>
        <ng-container *ngIf="checkIsControlInvalid('password')">
            <div *ngIf="password.errors?.['required']" [attr.id]="getIdForValidationFeedbackForRule('password', 'required')" class="invalid-feedback">
                Password is required.
            </div>
        </ng-container>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || isSubmitting">
        <ng-container *ngIf="!isSubmitting; else submittingTemplate">Sign in</ng-container>
    </button>
</form>

<ng-template #submittingTemplate>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="sr-only">Signing in...</span>
</ng-template>
