<div class="container py-5">
  <div class="row align-items-center">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">5S audits, more efficient operations</h1>
      <p class="col-lg-10 fs-4">
        In simple terms, 5S methodology helps keep the workplace organized and clean.<br/>
        This app allows you perform an audit to ensure the 5S approach is followed.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <div class="bg-white p-5 rounded shadow-sm">
        <h2 class="mb-4">Sign in</h2>
        @if (errorMessage) {
          <div class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        }
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <!-- Required attribute is not necessary, but it should be retained for accessibility purposes -->
            <label for="username" class="form-label">Username</label>
            <input type="email" class="form-control" id="username" formControlName="username" placeholder="Enter email" required />
            <app-validation-messages [errors]="username.errors" />
          </div>
          <div class="form-group mb-3">
            <label htmlFor="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" required />
            <app-validation-messages [errors]="password.errors" />
          </div>
          <div class="form-group">
            @if (isSubmitting) {
              <button type="submit" class="btn btn-primary w-100" disabled>
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                <span class="sr-only">Signing in...</span>
              </button>
            } @else {
              <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid || isSubmitting">Sign in</button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
